<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

            <style>
                body{
                    background-color: #F8F9F9;

                }
                li{
                    display: flex;
                }
            </style>
        {% endblock %}


        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <li>
        <ul><a href="/">accueil</a></ul>
        <ul><a href="propos">a propos</a></ul>
        <ul>contact</ul>
        <ul>aide</ul>
    </li>
        {% block body %}{% endblock %}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
