{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Blog Index{% endblock %}

{% block body %}

    <h1>hello word</h1>
    <p id="para">Some text here</p>
    <button onclick="changeColor('blue');">blue</button>
    <button onclick="changeColor('red');">red</button>
    <script>
        function changeColor(newColor) {
            var elem = document.getElementById('para');
            elem.style.color = newColor;
        }
    </script>
{% endblock %}